.contactFormWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 20vw;
    .formGroup {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      label {
        font-weight: bold;
      }
      input,
      textarea {
        padding: 0.5rem;
        border: 1px solid black;
        border-radius: 0.5rem;
      }
      .errorMessage {
        color: red;
        margin-top: 0.2rem;
      }
    }
  }
  .submissionResult {
    margin-top: 0.3rem;
    font-weight: bold;
  }
}
