#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  .counterButton {
    padding: 0.2rem 0.5rem;
  }
}
